USE [VIPUNEN_SA]
GO
/****** Object:  Table [dbo].[SA_SUORAT_AMK_TALOUS_1_tuloslaskelma]    Script Date: 10.11.2016 11:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SA_SUORAT_AMK_TALOUS_1_tuloslaskelma]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SA_SUORAT_AMK_TALOUS_1_tuloslaskelma](
	[TILIK] [int] NULL,
	[POISTOT] [int] NULL,
	[OSA] [int] NULL,
	[AMK] [nvarchar](255) NULL,
	[LIIKEVAIHTO] [int] NULL,
	[KVARASTOJENL] [int] NULL,
	[OMKAYTT] [int] NULL,
	[MUUTTUOT] [int] NULL,
	[AITATA] [int] NULL,
	[OSTOTILAIK] [int] NULL,
	[VARASTLIS] [int] NULL,
	[ULKPAL] [int] NULL,
	[MATYHT] [int] NULL,
	[PALKAT] [int] NULL,
	[HSIVUKULUT] [int] NULL,
	[ELAKEKULUT] [int] NULL,
	[MSIVUKULUT] [int] NULL,
	[HKULUTYHT] [int] NULL,
	[AALENNUKSET] [int] NULL,
	[VVPAALENNUKSET] [int] NULL,
	[MUUTKULUT] [int] NULL,
	[LVOITTO] [int] NULL,
	[AMK_koodi] [nvarchar](255) NULL,
	[KONSTUOT] [int] NULL,
	[TUOTOSUU] [int] NULL,
	[TUOTSAMAKONS] [int] NULL,
	[TUOTOTMUILT] [int] NULL,
	[MUUTKORKSAMKONS] [int] NULL,
	[MUUTKORKMUILT] [int] NULL,
	[ARVOVASTAASIJO] [int] NULL,
	[ARVOVAIHTVASTRAH] [int] NULL,
	[KORKRAHKULUKONS] [int] NULL,
	[KORKRAHKULUMUUT] [int] NULL,
	[VOITTO] [int] NULL,
	[SATYHT] [int] NULL,
	[SATTUOT] [int] NULL,
	[SATKULUT] [int] NULL,
	[VOITENVEROJA] [int] NULL,
	[POISTOERO] [int] NULL,
	[VAPEHTVARA] [int] NULL,
	[RAHASIIRT] [int] NULL,
	[TULOVERO] [int] NULL,
	[MUUTVEROT] [int] NULL,
	[TILVOITTO] [int] NULL,
	[OKMPERUS] [int] NULL,
	[AKATEMIA] [int] NULL,
	[TEKES] [int] NULL,
	[MUUOKM] [int] NULL,
	[SOSTURVARAH] [int] NULL,
	[MUUVALTIO] [int] NULL,
	[KUNNAT] [int] NULL,
	[VOTTAVOITTELEMATON] [int] NULL,
	[KOTIYRITYS] [int] NULL,
	[KOTIRAH] [int] NULL,
	[KOTITALOUS] [int] NULL,
	[EURAH] [int] NULL,
	[EURAHYRIT] [int] NULL,
	[EURAHMUU] [int] NULL,
	[MUUULKYRITYS] [int] NULL,
	[MUUULKMUURAH] [int] NULL,
	[MAKSUASETUS] [int] NULL,
	[MUULIIKEVAIHTO] [int] NULL,
	[POIARVOYHT] [int] NULL,
	[Aineistotyyppi_osa_1] [nvarchar](1) NULL,
	[CHECKSUM_AMK_TALOUS_1_TULOSLASKELMA] [int] NULL,
	[IMP_CREATED_DATE] [datetime] NULL,
	[IMP_UPDATED_DATE] [datetime] NULL,
	[IMP_CREATED_BY] [nvarchar](100) NULL,
	[IMP_DELETED_DATE] [datetime] NULL
) ON [PRIMARY]
END
GO
